.Container {
    margin-bottom: 1.3rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.SearchBar {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: .2rem solid #f3f1ee;
}

.Icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: lightgrey;
    margin-left: 1.2rem;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

.Input {
    width: 90%;
    padding: 1rem;
    color: #9c9c9b;
    font-size: 1.4rem;
    line-height: 1;
    border-radius: .5rem;
    border: none;
    outline: none;
    margin-top: 30px;
}

.FilterButton {
    cursor: pointer;
    font-size: 1.4rem;
    margin-right: 2rem;
    color: #9c9c9b;
    white-space: nowrap;
}

.Filters {
    width: 70%;
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    justify-content: center;
}

.FilterSection {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.SectionTitle {
    margin-bottom: .96rem;
    color: #2a2825;
    font-size: 1.2rem;
}

.Content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ListItem {
    display: block;
    margin-bottom: .96rem;
    margin-right: .8rem;
    padding: .3rem .3rem;
    background-color: #f3f1ee;
    border-radius: 99rem;
    color: #9c9c9b;
    font-size: 1.0rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
}

.SearchBar:focus-within {
    border-bottom: 1px solid #02a1e8;
    outline: none;
}

.SearchBar:focus-within .Icon {
    fill: black;
}

.FilterButton:hover {
    color: black;
}

.FilterGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
}

.InputItem {
    margin-bottom: .96rem;
    padding: .3rem .3rem;
    background-color: #f3f1ee;
    border-radius: 99rem;
    border: 1px solid #9c9c9b;
    color: #9c9c9b;
    font-size: 1.0rem;
    text-align: center;
    cursor: text;
    width: 140px;
    height: 30px;
}